---
title: blog

articles: [
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
},
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
},
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
},
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
},
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
},
{
	img: 'article-img',
	date: '<strong>06</strong> JAN',
	title: 'Annjuncing the winner of the 
	2017 Alert1 student for seniors 
	scholarship',
	text: "Announcing the winner of our Students for Seniors Scholarship, Amanda! You'll want to read her touching stories about the seniors in her life."
}
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin content-block blog-->
<div class="content-block blog">
	<!--begin l-->
	<div class="l">
		<!--begin article-->
		<div class="article" itemscope itemtype="http://schema.org/Article">
			<meta itemprop="author"  content="author">
			<meta itemprop="dateModified" content="2018-03-15">
			<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="article-page-url"/>
			<meta itemprop="datePublished" content="2018-03-15">
			<div class="hidden" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<meta itemprop="name" content="alert">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<img class="itemprops" itemprop="url image" src="http://site/logo.jpg" alt="alt" />
					<link itemprop="url"  href="#" >
				</span>
			</div>
			<!--begin article__cols-->
			<div class="article__cols article__cols--mb-big">
				<!--begin article__left-->
				<div class="article__left">
					<h1 class="title-lg title-line" itemprop="headline">Announcing the winner of the 2017 
					Alert1 Student for Seniors Scholarship</h1>
					<p itemprop="about">Здесь пару-тройку строчек текста из последней статьи и далее ниже будет ссылка на развернутую статью. Может быть чуть больше текста...</p>
					<div class="content-right">
						<a class="link-more" href="#" itemprop="url">Read more...</a>
					</div>
				</div>
				<!--end article__left-->
				<!--begin article__right-->
				<div class="article__right">
					<img src="img/blog-img.jpg" alt="alt" itemprop="image">
				</div>
				<!--end article__right-->
			</div>
			<!--end article__cols-->
		</div>
		<!--end article-->
		<!--begin artitcles-list-->
		<div class="artitcles-list">
			{% for item in articles %}
			{% include "components/_article-item.html" %}
			{% endfor %}
		</div>
		<!--end artitcles-list-->
		<!--begin pagination-->
		<div class="pagination">
			<button class="pagination__btn">
				{{mixins.icon('arrow-l')}}
			</button>
			<ul class="pagination__list">
				<li><a href="#">1</a></li>
				<li class="is-active"><a  href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><span>...</span></li>
				<li class="is-active" ><a href="#">34</a></li>
				<li><a href="#">45</a></li>
			</ul>
			<button class="pagination__btn">
				{{mixins.icon('arrow-r')}}
			</button>
		</div>
		<!--end pagination-->
	</div>
	<!--end l-->
</div>
<!--end content-block blog-->
{% endblock %}
