---
title: products
prodItemsTop: [
{
	difficult: true,
	img: 'prod-img-5',
	imgMode: 'prod-item__img--spec-position',
	price: '$52.95/mo.',
	btn: 'View product',
	title: 'On-the-Go + Home Fall Detection Medical Alert',
	titleSec: 'Fall detection at home and on-the-go',
	text: 'Can’t decide between a medical alert for at home or on-the-go? PAX Plus is a 2-in-1 system that gives you the best of both worlds. Fall detection technology in the pendant automatically calls our Command Center when it senses a fall. Does not detect 100% of falls - you should always press the button if you need help. The built-in GPS technology means you can have peace of mind on the go. ',
	list: [
	{
		listTitle: '<p class="title-sm title-sm--fatter">Includes:</p>',
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Fall detection that can call for help automatically if it senses a fall'
		},
		{
			text: 'Built-in GPS technology'
		},
		{
			text: 'Additional pendants for use as necklace or wristband at home'
		},
		{
			text: 'Speaker and microphone for easy 2-way communication'
		},
		{
			text: '24/7 US based emergency monitoring'
		},
		{
			text: 'Unlimited button pushes'
		}
		]
	}
	]
},
{
	difficult: true,
	img: 'prod-img-2',
	price: '$52.95/mo.',
	btn: 'View product',
	title: 'Fall Detection Medical Alert Device',
	titleSec: 'Automatic fall detection at home',
	text: 'Alert1 Fall Detection Medical Alert Device includes a fall detection pendant. The pendant will place an automatic call for help if it senses a fall, even if you are unable to push the button. Fall detection does not detect 100% of falls - you should always press the button if you need help. ',
	list: [
	{
		listTitle: '<p class="title-sm title-sm--fatter">Includes:</p>',
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Fall detection pendant'
		},
		{
			text: 'Two-way speaker and microphone in the base station '
		},
		{
			text: '24/7 US based emergency monitoring'
		},
		{
			text: '100% showerproof button'
		},
		{
			text: 'Unlimited button pushes'
		}
		]
	}
	]
},
{
	difficult: true,
	img: 'prod-img-3',
	imgMode: 'prod-item__img--spec-position',
	price: '$52.95/mo.',
	btn: 'View product',
	title: 'On-the-Go Medical Alert Device',
	titleSec: 'Alert1 protection on the go',
	text: 'As an older adult you should enjoy your independence without worry. The <a href="#">Kelsi Mobile Medical Alert Device</a> will keep you safe wherever life takes you. With built-in GPS technology we can send help to your location, even if you don`t know where you are.',
	list: [
	{
		listTitle: '<p class="title-sm title-sm--fatter">Includes:</p>',
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Speaker and microphone built into the button'
		},
		{
			text: '24/7 US based emergency monitoring'
		},
		{
			text: 'Built-in GPS location technology'
		},
		{
			text: 'Unlimited button pushes'
		},
		{
			text: 'Personalized responders'
		}
		]
	}
	]
}
]
lineBlock: {
mode: ' line-block--dashed',
text: 'Call us today at <a href="tel:1-877-959-8354">1-877-959-8354</a> to get peace of mind with Alert1'
}
prodItemsBottom: [
{
	difficult: true,
	mode: 'prod-item--border-top-none',
	img: 'prod-img-4-sm',
	imgMode: 'prod-item__img--spec-position',
	price: '$52.95/mo.',
	btn: 'View product',
	title: 'On-the-Go Fall Detection Medical Alert',
	titleSec: 'Take fall detection on the go',
	text: 'Stay protected no matter where you go with our <a href="#">Mobile Fall Detection Pendant</a>. This device will automatically place a call for help if it senses a fall, even if you are unable to push the button. Fall detection doesn`t detect 100% of falls - you should always press your button if you need help. Don’t worry if you don`t know where you are, the built-in GPS technology means we can send help to your location',
	list: [
	{
		listTitle: '<p class="title-sm title-sm--fatter">Includes:</p>',
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Fall detection technology in the button'
		},
		{
			text: '24/7 US based emergency monitoring'
		},
		{
			text: 'Speaker and microphone in the button for two-way communication with our Command Center'
		},
		{
			text: 'Built-in GPS technology'
		},
		{
			text: 'Personalized responders'
		},
		{
			text: 'Unlimited button pushes'
		}
		]
	}
	]
},
{
	difficult: true,
	img: 'prod-img-2',
	price: '$52.95/mo.',
	btn: 'View product',
	title: 'Home Medical Alert Device',
	titleSec: 'Get help at the push of a button 24/7',
	text: 'Our <a href="#">in-home device</a> allows you to safely age in place with peace of mind. The POM base unit is easy to install and consists of a small speaker box that plugs into a phone jack on your wall and an electrical outlet. Press your 100% showerproof button and be connected to our <a href="#">Command Center</a>.',
	list: [
	{
		listTitle: '<p class="title-sm title-sm--fatter">Includes:</p>',
		listMode: 'list--marg-small',
		listItems: [
		{
			text: '24/7 US based emergency monitoring'
		},
		{
			text: 'Unlimited button pushes'
		},
		{
			text: '100% showerproof help button'
		},
		{
			text: 'Landline required'
		}
		]
	}
	]
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin content-block products-->

<div class="content-block products">
	<!--begin l-->
	<div class="l">
		<h1 class="title-lg title-lg--mb-33">Alert1 Medical Alert Devices</h1>
		{% for item in prodItemsTop %}
		{% include "components/_prod-item.html" %}
		{% endfor %}
		{% include "components/_line-block.html" %}
		{% for item in prodItemsBottom %}
		{% include "components/_prod-item.html" %}
		{% endfor %}
	</div>
	<!--end l-->
</div>
<!--end content-block products-->
{% endblock %}
