---
title: 'Kelsi Pro Product Features'
description: 'Automatically detects falls and calls for help Custom emergency responders- you decide who we call Uses GPS, Wi-Fi, and cellular coverage to locate you if a fall is detected or button is pushed'
listLeft: [
{
	listMode: 'list--marg-small',
	listItems: [
	{
		text: 'Automatically detects falls and calls for help'
	},
	{
		text: 'Custom emergency responders- you decide who we call'
	},
	{
		text: 'Uses GPS, Wi-Fi, and cellular coverage to locate you if a fall is detected or button is pushed'
	},
	{
		text: 'Two-way speaker and microphone as loud as a cell phone on speaker'
	},
	{
		text: 'Showerproof pendant and compatible with pacemakers'
	}
	]
}
]
listRight: [
{
	listMode: 'list--marg-small',
	listItems: [
	{
		text: 'Unlimited button pushes and talk time. No cell phone is needed'
	},
	{
		text: 'Uses the AT&T network. Upon receipt of device, check service in your area'
	},
	{
		text: 'Designed to wear around the neck. Looking for a wristband?'
	},
	{
		text: 'No landline or internet connection required'
	}
	]
}
]
howWork: {
title: 'How does mobile fall detection work?',
sectionMode: 'section--small-padding-bottom',
titleMode: 'section__title--mb-big',
list: [
{
	img: 'how-work-touch',
	title: '1. Fall detected',
	text: 'A fall is sensed and your mobile fall pendant automatically notifies our Command Center.'
},
{
	img: 'how-work-manager',
	title: '2. Connect',
	text: 'A US-based operator comes on the line quickly and asks if you need help.'
},
{
	img: 'how-work-car',
	title: '3. Help arrives',
	text: 'We locate you and send you help. We stay on the line with you until we are sure that you are safe.'
}
]
}
listsLeft: [
{
	listMode: 'list--marg-small',
	listTitle: '<h4 class="title-m title-line">Kelsi Pro Product Features</h4>',
	listItems: [
	{
		text: 'Small and lightweight fall detection pendant'
	},
	{
		text: '100% shower safe'
	},
	{
		text: 'Location detection using GPS, Wi-Fi and cellular technology'
	},
	{
		text: '24/7 fall detection security'
	},
	{
		text: 'Up to 5 days of battery life between charges'
	}
	]
},
{
	listMode: 'list--marg-small',
	listTitle: '<h4 class="title-m title-line">Personalized Response</h4>',
	listItems: [
	{
		text: 'We will get you the help you need when you`re on the go. You customize who we call in an emergency whether it is family, neighbors, friends, or 911'
	},
	{
		text: 'We stay on the line with you until we are sure help has arrived'
	}
	]
},
{
	listMode: 'list--marg-small',
	listTitle: '<h4 class="title-m title-line">Nationwide Monitoring</h4>',
	listItems: [
	{
		text: 'When you press your help button, you will connect to operators who are trained to respond to emergencies. Our two TMA 5 Diamond Certified Command Centers are fully independent and located in the United States.'
	}
	]
}
]
listsRight: [
{
	listMode: 'list--marg-small',
	listItems: [
	{
		text: 'Our Command Centers are US-based and available 24/7. Our operators speak 190 different languages and will stay on the line with you until help arrives'
	},
	{
		text: 'Alert1 mobile fall detection pendants feature unlimited amount of button pushes and talk time. Press your button anytime or for any reason, and stay on the line for as long as you want'
	}
	]
},
{
	listMode: 'list--marg-small',
	listTitle: '<h4 class="title-m title-line">Unlimited Protection</h4>',
	listItems: [
	{
		text: 'Stay protected nationwide. Kelsi Pro Mobile Fall Detection uses GPS, Wi-Fi, and cellular technology to locate you in an emergency'
	},
	{
		text: 'Even if you can’t push your help button, the fall detection mobile medical alert can sense a fall and if it does it will automatically notify our 24/7 Command Center'
	}
	]
},
{
	listMode: 'list--marg-small',
	listTitle: '<h4 class="title-m title-line">Easy Setup</h4>',
	listItems: [
	{
		text: 'Your Kelsi Pro Mobile Fall Detection will arrive preprogrammed. Simply charge and activate it, and your pendant is ready to protect you'
	},
	{
		text: 'To make things simple, the GPS medical alert system includes a quick start guide to help you with setup'
	}
	]
}
]
lineBlock: {
mode: 'line-block--mb-m line-block--dashed',
text: 'Call us today at <a href="tel:1-877-959-8354">1-877-959-8354</a> to get peace of mind with Alert1'
}
dropBLocks: [
{
	title: 'Manual Alert + Fall Detection',
	dropBlockMode: '',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Network + Connectivity',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Audio',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Power and Battery',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Weight and Dimensions',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Environment',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
},
{
	title: 'Certifications',
	list: [
	{
		listMode: 'list--marg-small',
		listItems: [
		{
			text: 'Mechanical touch button initiates voice call and simultaneous data transmission to call center'
		},
		{
			text: 'On board sensors for free fall and three dimensional (3D) space analysis using proprietary algorithms'
		},
		{
			text: 'Fall detection analysis and identification using cloud based algorithms and class libraries'
		}
		]
	}
	]
}
]
borderBlock: {
title: '30 Day Refund Policy',
content: '<p>Alert1 offers multiple payment plans so you can choose the service that best meets your needs for price and flexibility. Our members are never locked into a multi-year contract. You may cancel your service at any time, without any cancellation charges.</p>
<p>To qualify for a refund, new members must subscribe to an annual or semi-annual service plan, use the medical alert device to place a successful test call to the Command Center and return the device in its original condition within 30 days of initial purchase. Any pre-paid shipping, warranty and activation fees are non-refundable.</p>'
}
slider: {
title: 'Feedback from our customers',
sectionMode: 'section--border-bottom section--big-padding-bottom section--mb',
slides: [
{
	img: 'slider-img',
	title: 'DeeDee — AR',
	text: 'After researching many "help" systems for my parents, we chose Alert1. It was the best decision we ever made! I cannot express how wonderful the people are and the caring manner in which they treat you. Trust me when I say that Alert1 gives us total Peace of Mind!'
},
{
	img: 'slider-img',
	title: 'DeeDee — AR',
	text: 'After researching many "help" systems for my parents, we chose Alert1. It was the best decision we ever made! I cannot express how wonderful the people are and the caring manner in which they treat you. Trust me when I say that Alert1 gives us total Peace of Mind!'
}
]
}
questions: [
{
	title: 'Fall Detection Protection On The Go',
	img: 'question-img1',
	text: '<p>No phone? No problem. No base unit, cell phone, or landline phone is necessary with Kelsi Pro automatic fall detection systems.</p>
	<p>Kelsi Pro uses a microphone and speaker to enable simple, 2-way communication to the Alert1 Command Center.</p>
	<p>GPS, Wi-Fi, and cellular coverage is used in your mobile medical alert to find you if you don`t know where you are.</p>
	<p>Automatic fall detection technology senses falls and automatically notifies the Command Center.</p>'
},
{
	mode: 'prod-question--img-left',
	title: 'What Is Mobile Fall Detection?',
	img: 'question-img2',
	text: '<p >Kelsi Pro provides mobile automatic fall detection. This GPS fall alert system contains sensors that are designed to differentiate between a fall and ordinary movements.</p>
	<br><br>
	<p>The mobile fall detection pendant is worn around your neck or clipped at the waist. If it senses a fall or you press the help button, you will be connected to a kind and compassionate US-based operator from an Alert1 Command Center.</p>'
},
{
	title: 'What If I Don’t Know Where I Am?',
	img: 'question-img3',
	text: '<p>Once you press your mobile help button, we use GPS, Wi-Fi, and cellular coverage to locate you. We then alert your emergency responders so they can come to your aid.
	</p><br><br><p>If your responders aren’t available, we will contact local 911 emergency services to help you. We stay on the line as you wait for emergency responders to help in your time of need.</p>'
}
]
userSection: {
title: '<h2 class="title-lg">Reviews</h2>',
moreLink: 'Show more',
btn: 'Add a review',
userBlocks: [
{
	mode: 'user-block--review',
	review: true,
	title: 'Couldn`t ask for better service',
	name: 'Phil (Findlay, OH)',
	text: 'Once again Alert1 performed excellent. Mom fell again. They called the paramedics, then my brother then me just like we planned. Mom was ok this time but I couldn’t ask for better service from Alert1.',
	date: 'Posted on 11/3/2017'
},
{
	mode: 'user-block--review',
	review: true,
	title: 'Couldn`t ask for better service',
	name: 'Phil (Findlay, OH)',
	text: 'Once again Alert1 performed excellent. Mom fell again. They called the paramedics, then my brother then me just like we planned. Mom was ok this time but I couldn’t ask for better service from Alert1.',
	date: 'Posted on 11/3/2017'
},
{
	mode: 'user-block--review',
	review: true,
	title: 'Couldn`t ask for better service',
	name: 'Phil (Findlay, OH)',
	text: 'Once again Alert1 performed excellent. Mom fell again. They called the paramedics, then my brother then me just like we planned. Mom was ok this time but I couldn’t ask for better service from Alert1.',
	date: 'Posted on 11/3/2017'
},
{
	mode: 'user-block--review',
	review: true,
	title: 'Couldn`t ask for better service',
	name: 'Phil (Findlay, OH)',
	text: 'Once again Alert1 performed excellent. Mom fell again. They called the paramedics, then my brother then me just like we planned. Mom was ok this time but I couldn’t ask for better service from Alert1.',
	date: 'Posted on 11/3/2017'
}
]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin content-block product-page-->
<div class="content-block prod-page" itemscope itemtype="http://schema.org/Product">
	<!--begin l-->
	<div class="l">
		<div class="prod-page__top">
			<div class="prod-page__slider-side">
				{% include "components/_prod-sliders.html" %}
				<div class="prod-page__help-block">
					<p>Need Help?   Call us anytime!</p>
					<a href="tel:1-877-959-8354">1-877-959-8354</a>
				</div>
			</div>
			<!--begin prod-page__desrc-side-->
			<div class="prod-page__desrc-side">
				<h1 class="title-lg prod-page__title" itemprop="name">Kelsi Pro: On-the-Go Fall Detection</h1>
				<p class="title-sm title-line">No landline required</p>
				<div class="prod-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					<div class="star-ratings ">
						<span style="width:45%" class="star-ratings__full"></span>
						<span class="star-ratings__hidden" itemprop="ratingValue">4</span>
					</div>
					<span class="prod-rating__count">(<span itemprop="reviewCount">199</span> reviews) </span>
					<span class="prod-rating__text">In Stock</span>
				</div>
				<div class="prod-form">
					<form>
						<p class="prod-form__text">How many people will be using this system?</p>
						<!--begin prod-form__line-->
						<div class="prod-form__line">
							<div class="prod-form__block">
								<input type="radio" name="how-many" id="how-many1" checked>
								<label for="how-many1"><span>One user</span></label>
							</div>
							<div class="prod-form__block">
								<input type="radio" name="how-many" id="how-many2">
								<label for="how-many2"><span>Two users</span></label>
							</div>
						</div>
						<!--end prod-form__line-->
						<p class="prod-form__text">Select your payment plan:</p>
						<!--begin prod-form__line-->
						<div class="prod-form__line">
							<div class="prod-form__block" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<input type="radio" name="payment" id="payment1" checked>
								<label for="payment1"><span>Pay annually</span></label>
								<div class="prod-form__price">
									<span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="41.95">41.95</span>/month
									<p>2 FREE months</p>
								</div>
							</div>
							<div class="prod-form__block" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<input type="radio" name="payment" id="payment2">
								<label for="payment2"><span>Pay <br> semi - annually</span></label>
								<div class="prod-form__price">
									<span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="41.95">41.95</span>/month
									<p>1 FREE months</p>
								</div>
							</div>
							<div class="prod-form__block" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<input type="radio" name="payment" id="payment3">
								<label for="payment3"><span>Pay quarterly</span></label>
								<div class="prod-form__price">
									<span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="47.95">47.95</span>/month
								</div>
							</div>
						</div>
						<!--end prod-form__line-->
						<!--begin prod-form__line prod-form__line--btn-->
						<div class="prod-form__line prod-form__line--btn">
							<button class="btn">Order now</button>
						</div>
						<!--end prod-form__line prod-form__line--btn-->
					</form>
				</div>
			</div>
			<!--end prod-page__desrc-side-->
		</div>
		<!--begin two-col-->
		<div class="two-col prod-page__two-col"  itemprop="description">
			<div class="two-col__left">
				{% for globItem in listLeft %}
				{% include "components/_list.html" %}
				{% endfor %}
			</div>
			<div class="two-col__right">
				{% for globItem in listRight %}
				{% include "components/_list.html" %}
				{% endfor %}
			</div>
		</div>
		<!--end two-col-->
	</div>
	<!--end l-->
	{% include "components/_how-work.html" %}
	{% include "components/_prod-lists.html" %}

	{% include "components/_line-block.html" %}
	{% include "components/_prod-dropdowns.html" %}
	{% include "components/_spec-border-block.html" %}
	<div class="line-block line-block--mb-none">
		<!--begin l-->
		<div class="l">
			<div class="line-block__inner"> Call us today at <a href="tel:1-877-959-8354">1-877-959-8354</a> to get peace of mind with Alert1 </div>
		</div>
		<!--end l-->
	</div>
	{% include "components/_slider.html" %}
	<!--begin prod-questions-->
	<div class="prod-questions">
		<!--begin l-->
		<div class="l">
			<!--begin prod-questions-->
			<div class="prod-questions__inner">
				{% for item in questions %}
				{% include "components/_prod-question.html" %}
				{% endfor %}
			</div>
			<!--end prod-questions-->
		</div>
		<!--end l-->
	</div>
	<!--end prod-questions-->
	{% include "components/_user-section.html" %}
	<!--end content-block product-page-->
</div>
{% endblock %}
