<header class="header">
	<!--begin l-->
	<div class="l">
		<!--begin header__inner-->
		<div class="header__inner">
			<ul class="header__menu">
				<li class="header__menu-item is-active"><a  href="#">HOME</a></li>
				<li class="header__menu-item"><a href="#">PRODUCTS</a></li>
				<li class="header__menu-item"><a href="#">PRICING</a></li>
				<li class="header__menu-item"><a href="#">ARTICLE</a></li>
			</ul>
			<a class="header__phone" href="tel:1-866-499-5851" ><i>{{mixins.icon('phone')}}</i>1-866-499-5851</a>
		</div>
		<!--end header__inner-->

	</div>
	<!--end l-->
</header>
