<!--begin hero-->
<div class="hero" style="background-image: url('img/hero-img.jpg');">
	<!--begin l-->
	<div class="l">
		<div class="hero__inner">
			<h1 class="title-hero hero__title">
				Had a bad fall?
				<span>Get help fast.</span>
			</h1>
			<a class="btn btn--big hero__btn" href="#">Get started</a>
			<div class="hero__text">
				<p>
					2 FREE months + FREE shipping <br>
					+ FREE activation on annual plans <br>
					<span>Ends Today!</span>
				</p>
			</div>
		</div>
	</div>
	<!--end l-->
</div>
<!--end hero-->
