<section class="section section--border-top">
	<!--begin l-->
	<div class="l">
		{% if howWork.title %}
		<h2 class="title-lg section__title">{{howWork.title}}</h2>
		{% endif %}
		<div class="how-work">
			{% for item in howWork.list %}
			<div class="how-work-item">
				<div class="how-work-item__img">
					<img src="img/{{item.img}}.png" alt="alt">
					{% if item.nubmer %}
					<div class="how-work-item__number">{{item.nubmer}}</div>
					{% endif %}
				</div>
				<h3 class="title-lg title-lg--d how-work-item__title">{{item.title}}</h3>
				<div class="how-work-item__text">
					{{item.text}}
				</div>
				{% if item.arrow %}
				<img class="how-work-item__arrow {{item.arrowMode}}" src="img/{{item.arrow}}.png" alt="alt">
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% if howWork.btn %}
		<div class="centered">
			<a class="link-underline" href="#">{{howWork.btn}}</a>
		</div>
		{% endif %}
	</div>
	<!--end l-->

</section>