<section class="section  {{slider.sectionMode}}">
	<!--begin l-->
	<div class="l">
		{% if slider.title %}
		<h2 class="title-lg section__title section__title--mb-big">{{slider.title}}</h2>
		{% endif %}
		<div class="slider js-slider">

			{% for slide in slider.slides %}
			<div class="slider__slide slide">
				<!--begin slider__inner-->
				<div class="slider__inner">
					<div class="slider__img">
						<img src="img/{{slide.img}}.jpg" alt="alt">
					</div>
					<p class="slider__title"><span>{{slide.title}}</span></p>
					<div class="slider__text">
						{{slide.text}}
					</div>
				</div>
			</div>
			<!--end slider__inner-->
			{% endfor %}

		</div>
	</div>
	<!--end l-->
</section>