.content-block
	padding-top: 144px
.article
	&__cols
		+clr
		margin-bottom: 23px
		&--mb-big
			margin-bottom: 70px
	&__left
		float: left
		width: percentage(655 / 1140)
		.title-line
			text-align: left
			margin-bottom: 48px
	&__right
		float: right
		width: percentage(457 / 1140)
		text-align: right
		font-size: 0
		img
			max-width: 100%
			max-height: 700px
			height: auto
	a
		color: $blue
		position: relative
		border-bottom: 1px solid $blue
		+trans
		&:hover
			border-color: transparent
	ul
		margin-bottom: 22px
	p
		margin-bottom: 22px
	h2,h3,h4,h5,h6
		color: $blue-d
	h2
		+robc-b
		font-size: 36px
		margin-bottom: 8px
	h3
		font-size: 24px
		+rob-m
		margin-bottom: 9px
.decor-text
	padding-left: 19px
	border-left: 1px solid $green
blockquote
	+rob-m
	font-style: italic
	font-size: 22px
	color: $blue-d
	padding: 40px 0 40px 40px
	position: relative
	max-width: 715px
	margin: 0 auto 46px
	&:before, &:after
		content: ''
		position: absolute
		width: 67px
		height: 2px
		background: $blue
		left: 45%
		transform: translateX(-50%)
	&:before
		top: 7px
	&:after
		bottom: 10px
	i
		+s(blockquote)
		display: block
		position: absolute

		left: 0px
		top: 32px