.art-item
	position: relative
	&--small
		width: 360px
		flex-grow: 0
		flex-shrink: 1
		margin-right: 30px
		padding-bottom: 43px
		border-bottom: 2px solid $blue
		margin-bottom: 47px
		&:nth-of-type(3n)
			margin-right: 0
		.art-item__more
			position: absolute
			bottom: 6px
			right: 2px

	&__img
		height: 169px
		position: relative
		margin-bottom: 25px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__date
		position: absolute
		left: 20px
		top: 0
		font-size: 18px
		+rob-t
		color: $white
		text-align: center
		background: $blue
		padding: 8px 11px
		strong
			+rob
			font-size: 30px
			display: block
	&__descr
	&__title
		margin-bottom: 36px
	&__text
	&__more