.user-section
	margin-bottom: 71px
	&__inner
		padding-left: 98px
		position: relative
	&__btn
		position: absolute
		right: 0
		top: 0
	.title-lg
		padding-right: 98px
		margin-bottom: 37px
.user-block
	margin-bottom: 51px
	&--review
		.user-block__text, .user-block__date
			color: $blue-d
	&__rate-line
		font-size: 0
		margin-bottom: 7px
	&__spec-title
		display: inline-block
		vertical-align: top
		margin-right: 70px
	&__name
		font-size: 24px
		margin-bottom: 12px
	&__text, &__date
	&__text
		margin-bottom: 10px
	.star-ratings 
		margin-top: 3px
