@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-l: "\EA01";
$icon-arrow-r: "\EA02";
$icon-check: "\EA03";
$icon-facebook: "\EA04";
$icon-medal: "\EA05";
$icon-phone: "\EA06";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-l:before { content: $icon-arrow-l; }
.icon-arrow-r:before { content: $icon-arrow-r; }
.icon-check:before { content: $icon-check; }
.icon-facebook:before { content: $icon-facebook; }
.icon-medal:before { content: $icon-medal; }
.icon-phone:before { content: $icon-phone; }
